<html>
    <head>
        <title>Restaurant Finder</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    </head>
    <body>
        <div class="container">
        <h1>Welcome to the Restaurant Finder!</h1>

        <p>Search by Cuisine</p>

        <form action="/cuisines" method="post">
            <label for="name">Cuisine name:</label>
            <input id="name" name="name" type="text">

            <button type="submit">Add cuisine</button>
        </form>

        {% if cuisines is not empty %}
            <p>Here are all the cuisines you searched for:</p>
            <ul>
                {% for cuisine in cuisines %}
                    <li><a href="/cuisines/{{ cuisine.getId }}"> {{ cuisine.getName }}</a></li>
                {% endfor %}
            </ul>
            {% else %}
                <p>There are no cuisines yet, homie</p>
            {% endif %}
        </div>
    </body>
</html>
